<!DOCTYPE html>
<html>
    <head>
        <!--Angular.js-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>-->

        <!--jQuery-->
<!--        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>-->

        <!--Bootstrap-->
        <!-- Latest compiled and minified CSS -->
<!--        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->
        <!-- Latest compiled and minified JavaScript -->
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->

        <script src="/public/webcamjs-master/webcam.js"></script>

    </head>
    <body>

        <div id="my_camera" style="width:320px; height:240px;"></div>
        <div id="my_result"></div>

        <script language="JavaScript">
            Webcam.attach( '#my_camera' );

            function take_snapshot() {
                Webcam.snap( function(data_uri) {
                    document.getElementById('my_result').innerHTML = '<img src="'+data_uri+'"/>';
                } );
            }
        </script>

        <a href="javascript:void(take_snapshot())">Take Snapshot</a>


    </body>


</html>
