.btn{
    background-color: #31b0d5;
    margin:20px;
}

.btn:hover
{
    background-image:none;
    background-color: #009cd5;
}

button:active {
    border:#31b0d5;
}


header .header-content .header-content-inner h1 {
    color: white;
}

.landing_below_img {
    margin: 15px;
    display: inline;
    width: 35vw;
}

@media screen and (max-width: 750px) {
    .landing_below_img {
        width: 65vw;   
    }
}

/////////////////////////


#answers_container {
  width: 80vw;
  margin-left: 10vw;
  text-align: left;
}

.answer {
  border-radius: 5px;
  border: 1px solid lightgrey;
  padding: 18px;
  margin: 10px;
}

.answer_title {
  font-family: sans-serif;
  font-size: 20px;
    display:none;
}

.answer_message {
  font-family: sans-serif;
  font-size: 15px;
  display:none;
}

#eval_container {
    
}