<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <div id="answers_container">
            <div id="my_camera" style="width:320px; height:240px;"></div>
            <div id="my_result"></div>
            <script src="pairing.js"></script>
            <a href="javascript:void(take_snapshot())">Take Snapshot</a>
        </div>
    </body>
</html>