<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>

        
        
        <h1>Emotional averages:</h1>
        <div>
            <ul>
                <% parsed_values.forEach(function(emotion) { %>
                    <li><%= emotion.name %>: <%= emotion.value %></li>
                <% }); %>
            </ul>
        </div>
        <h2>Your composite rating:</h2>
        <div>
            68%
        </div>

    </body>


</html>
