<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
            <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Microemotions</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Let Your Subconscious Pick Your Date</h1>
                    <a id="learn_more_button" class="btn btn-primary btn-xl page-scroll">Learn More</a>
                    <a href="/answers" class="btn btn-primary btn-xl">Start Now</a>
                </div>
            </div>
        </header>

        <section id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">How We Revolutionize Online Dating</h2>
                        <hr class="primary">
                        <p>
                            Using emotion detection software, we are able to determine how compatible you are with potential dates before you even say a word to them!
                            We measure your slight emotional reactions to survey responses submitted by potential partners and use them to determine whether they would make for
                            good first date.
                        </p>
                        <hr class="primary">
                    </div>
                    <div class="row" style="text-align: center">
                        <img src ="http://cdn.hexjam.com/editorial_service/bases/images/000/010/656/xlarge/Screen_Shot_2015-11-12_at_08.28.03.jpg?1447316966" class="landing_below_img">
                        <img src ="http://img.tyt.by/620x620s/n/it/05/4/successkidmsft.0.png" class="landing_below_img">
                    </div>
                    
                </div>
            </div>
        </section>

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
    </body>
</html>
    